.decisions-wrapper {
  margin-top: 110px !important;

  .linear-label {
    width: 110px;
  }

  .new-decision-btn {
    background-color: #17d297;
    color: #fff;
  }

  .action-cards {
    cursor: pointer;

    a {
      text-decoration: unset;
    }

    .organization-btn {
      background-color: #fef4f4;
      color: #ff2836;
      border: 1px solid #fef4f4;
    }

    .tokens-btn {
      background-color: #f9f6ff;
      color: #9254e3;
      border: 1px solid #f9f6ff;
    }

    .payments-btn {
      background-color: #fffbf2;
      color: #ffad07;
      border: 1px solid #fffbf2;
    }
  }
}
