.link-decoration:hover {
  text-decoration: none;
}

.link-decoration {
  color: #08041d !important;
}
.active svg {
  color: #4c2ffc !important;
}
.active span {
  font-weight: 600;
}
.accordion-details-link .link-hover {
  padding-left: 43px;
}

@media (min-width: 600px) {
  .page-wrapper {
    display: flex;
  }

  .active {
    border-right: 2px solid #4c2ffc;
    display: block;
    background: #e4eaff;
    color: #4c2ffc !important;
  }
}
@media (max-width: 600px) {
  .active {
    border-top: 2px solid #4c2ffc;
    display: block;
    color: #4c2ffc !important;
  }
}
.css-azsv2d-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 50px !important;
}

.mobile-menu {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px -14px 24px rgba(76, 47, 252, 0.03);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.assets-mobile-submenu {
  display: inline-block;
  width: 50%;
  text-align: center;
  border-bottom: 2px solid #dfdfe8;
}

.active-submenu {
  border-bottom: 2px solid #4c2ffc;
}

.mobile-top-side {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
