.connect-actions-btns .link-color {
  color: rgba(76, 47, 252, 0.54) !important;
}

.disconnect-wallet-btn {
  border: 1px solid #e51a3e !important;
  color: #e51a3e !important;
  background: rgba(229, 26, 62, 0.1) !important;
  padding: 10px 16px !important;
  margin-top: 0px !important;
  top: 15px !important;
  border-radius: 10px !important;
}

.connect-actions-btns {
  background: rgba(76, 47, 252, 0.1);
  border-radius: 10px;
  color: #4c2ffc;
}
