# Maiar
EXTRAS_API_DEVNET=__EXTRAS_API_DEVNET__
MAIAR_ID_API_DEVNET=__MAIAR_ID_API_DEVNET__
UNIQUE_CONTRACT_ADDRESS=__UNIQUE_CONTRACT_ADDRESS__
UNIQUE_CONTRACT_NAME=__UNIQUE_CONTRACT_NAME__
GOOGLE_ANALYTICS_KEY=__GOOGLE_ANALYTICS_KEY__


SINGLE_WALLET=true

# CREATE REACT APP CONFIG
GENERATE_SOURCEMAP=false
#CREATE REACT APP RUNS LINTER ON BUILD
DISABLE_ESLINT_PLUGIN=true
