.decision-actions-wrapper {
  margin-top: 110px !important;

  .timeline-wrapper ul li::before {
    display: none;
  }
}

.css-t0ut69-MuiPaper-root-MuiAccordion-root::before {
  display: none !important;
}
