.account {
  .address-holder-container {
    background-color: $input-bg;

    .address-holder {
      width: 10rem;
      @include media-breakpoint-up(sm) {
        width: 20rem;
      }
      @include media-breakpoint-up(md) {
        width: 21rem;
      }
    }
  }

  .tokens-section-loader {
    @extend .p-2;
  }
}
#account-menu {
  top: 20px;
}
.connect-btn {
  width: 200px;
  height: 45px;
  color: #4c2ffc !important;
  border: 1px solid #4c2ffc !important;
  background-color: rgba(76, 47, 252, 0.1) !important;
  box-shadow: 0px 0px 8px rgba(76, 47, 252, 0.18);
}
