.unlock-title {
  color: #3d5170;
  .i-icon {
    color: #9ba5b4;
    padding-left: 0.15rem;
  }
}

.unlock-page {
  width: 100%;
  max-width: toRem(366);
  .unlock {
    width: 100%;
    border: 1px solid #e6e8ec;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    padding: 40px 24px;
    > a {
      color: #000 !important;
    }

    .btn-unlock {
      color: $body-color;
      padding: 1.2rem;
      margin: 0 !important;
      margin-bottom: 0.7rem !important;
      font-size: 1rem;
      border: 1px solid #e6e8ec !important;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      transition: 0.1s;
      background: transparent;

      &:hover {
        background: none;
        border-color: #1392ff !important;
        .arrow {
          color: #1392ff;
          opacity: 1;
        }
      }
      .method {
        align-items: center;
        gap: 15px;
      }
      .arrow {
        width: 13.01px;
        height: 16px;
        opacity: 0;
      }
    }
  }
  .text {
    color: #3d5170;
  }
}
