.members-content__item-count-container {
  background-color: rgba(172, 172, 172, 0.24);
  color: rgb(119, 119, 119);
  width: 3.5rem;
  height: 3.5rem;
}

#vault-container::before {
  content: 'Vault';
  top: 0;
  left: 0;
  position: absolute;
  font-size: 25px;
}

#customPadding {
  padding: '2rem' !important;
}
