.navbar-account-details {
  .new-transfer-btn {
    border: 1px solid #4c2ffc;
    background: rgba(76, 47, 252, 0.1);
    color: #4c2ffc;
    box-shadow: 0px 0px 8px rgba(76, 47, 252, 0.18);
  }
  .explorer-link {
    color: #6c757d !important;
  }
  .members-box {
    width: 91px;
    margin: auto;
    background-color: #f0f1fd;
    border-radius: 6px;
    margin-top: 10px;
    color: #4c2ffc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .read-only-wrapper {
    background: rgba(8, 4, 29, 0.1);
    border-radius: 6px;
  }
  .read-only-wrapper p {
    color: #7a7883;
  }
}
