.navbarAccountDetails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'safeNmembers uniqueAddressNicons uniqueAddressNicons' 'readOnly readOnly readOnly';
  max-width: 190px;
  margin: .5rem auto 0;
}

.safeNmembers {
  grid-area: safeNmembers;
  position: relative;
}

.uniqueAddressNicons {
  grid-area: uniqueAddressNicons;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.readOnly {
  grid-area: readOnly;
  text-align: center;
}

.membersBox{
  position: absolute;
  display: block;
  top: -1.5rem;
  left: -.5rem;
}

.horizontalRule{
  margin: 0;
}